<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="WebsiteURL" value="http://automationpractice.com/" />
    <add key="Browser" value="Chrome" />
    <add key="ElementWaitTime" value="5" />
    <add key="PageLoadWaitTime" value="3" />
  </appSettings>
</configuration>